modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["glib", "nspr", "nss", "dbus", "atk", "at-spi2-atk", "cups", "xorg.libxcb", "libxkbcommon", "at-spi2-core", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "mesa", "cairo", "pango", "alsa-lib"]

[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5100
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080




[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
FACTORY_CONTRACT_ADDRESS = "0x166b765b67f52e1Bfd27AFEB03FedA1EE7C9A6B5"
SONEIUM_EXECUTOR_VAULT_ADDRESS = "0xfBCe5D06a4fB74325e2154d2dc6b998AC5e91A5c"
INK_EXECUTOR_VAULT_ADDRESS = "0xfBCe5D06a4fB74325e2154d2dc6b998AC5e91A5c"
INK_USDC_ADDRESS = "0x2D270e6886d130D724215A266106e6832161EAEd"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000
